.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  padding: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.3s ease-in-out;
  background: rgb(0, 176, 245);
  background: linear-gradient(
    90deg,
    rgba(0, 176, 245, 1) 0%,
    rgba(113, 64, 204, 1) 25%,
    rgba(255, 0, 162, 1) 50%,
    rgba(227, 94, 62, 1) 100%
  );
}
