.wrapper {
  max-width: 400px;
  width: 100%;
  flex: 1;
  min-height: 100vh;
  padding: 114px 16px 38px;
  display: flex;
  flex-direction: column;
}

.title-container {
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
  color: #ffffff;
}
