.wrapper {
  position: relative;
  height: 68px;
  cursor: pointer;
  user-select: none;
  /* background: rgba(255, 255, 255, 0.1); */
  overflow: hidden;

  /* background-image: url('./svg/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  line-height: 12px;
  font-weight: 600;
  color: #ffffff;

  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: -16px;
  bottom: 0;
  margin: auto;
  height: 14px;
}

.colors {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* background: linear-gradient(
    90deg,
    rgba(0, 176, 245, 1) 0%,
    rgba(113, 64, 204, 1) 25%,
    rgba(255, 0, 162, 1) 50%,
    rgba(227, 94, 62, 1) 100%
  ); */
}

.disabled {
  pointer-events: none;
}

.arrowsWrapper {
  position: absolute;
  left: 14px;
  right: 0;
  top: 20px;
  bottom: 0;
  margin: auto;
  z-index: 1;

  color: rgba(255, 255, 255, 1);

  /* mask setup */
  -webkit-mask-image: linear-gradient(to left, black 0%, transparent 100%);
  mask-image: linear-gradient(to left, black 0%, transparent 100%);

  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;

  -webkit-mask-position: right;
  mask-position: right;

  animation: revealLeft 1s ease-in-out infinite alternate;
}

@keyframes revealLeft {
  from {
    -webkit-mask-position: right;
    mask-position: right;
  }
  to {
    -webkit-mask-position: left;
    mask-position: left;
  }
}

/* .arrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  bottom: 0;
  margin: auto;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 30%,
    black 100%
  );
  mask-image: linear-gradient(to left, transparent 0%, black 30%, black 100%);
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  -webkit-mask-position: right;
  mask-position: right;
  animation: fadeLeft 2s ease-in-out infinite alternate;
}

@keyframes fadeLeft {
  from {
    -webkit-mask-position: right;
    mask-position: right;
  }
  to {
    -webkit-mask-position: left;
    mask-position: left;
  }
} */

.background {
  position: absolute;
}
