.wrapper {
  position: relative;
  height: 50px;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  color: #ffffff;
  background: none;
  border: none;
  border-radius: 25px;
  background: radial-gradient(
    circle at left,
    #00b0f5 0%,
    #7140cc 33%,
    #ff00a2 66%,
    #e35e3e 100%
  );
}

.wrapper span {
  font-size: 17px;
  line-height: 12px;
  font-weight: 600;
  color: #ffffff;
}

.disabled {
  background: rgba(255, 255, 255, 0.1);
}
