.slider-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.slider-track {
  display: flex;
  align-items: center;
  width: max-content;
  height: 320px;
  transform: translateX(-90px);
}

.slide {
  flex: 0 0 180px;
  height: 180px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
