.label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.notChecked {
  padding: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.checked {
  padding: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #864eee;
}

.label-text {
  font-size: 17px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
