.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  align-items: center;
  width: max-content;
  height: 320px;
  transform: translateX(-110px);
}

.animate {
  animation: scrollRight 0.5s linear infinite;
}

.slide {
  flex: 0 0 180px;
  height: 180px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2244px); /* matches the width of original 11 items */
  }
}
