.wrapper {
  max-width: 400px;
  width: 100%;
  flex: 1;
  min-height: 100vh;
  padding: 114px 16px 38px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title-container {
  position: relative;
  width: fit-content;
  z-index: 10;
}

.title {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 6px;
}

.title-container img {
  position: absolute;
  top: -16px;
  left: -12px;
  z-index: -1;
}

.balance-container {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #ffffff;
}

.balance {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
}

.empty {
  color: #ff513e;
}

.chevron {
  color: #ffffff;
}

.gift-container {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.gift-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  color: #ffffff;

  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
}

.btn-container {
  margin-top: auto;
  padding: 9px 0;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.backdrop {
  background-image: url('/img/ellipse.png');
  position: absolute;
  height: 1282px;
  width: 1282px;
  background-position-y: top;
  background-position-x: center;
  overflow: hidden;
  z-index: -1;
}

.backdrop-animation {
  animation: rotateLeftInfinite 0.4s linear infinite;
}

@keyframes rotateLeftInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
