.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  width: 28px;
  height: 28px;
}

.item:nth-child(1) {
  width: 28px;
  height: 28px;
  top: 81.82%;
  left: 46.2%;
  opacity: 0.1;
}

.item:nth-child(2) {
  width: 28px;
  height: 28px;
  top: 42.86%;
  left: 92.93%;
  opacity: 0.1;
}

.item:nth-child(3) {
  width: 28px;
  height: 28px;
  top: 42.86%;
  left: 0%;
  opacity: 0.1;
}

.item:nth-child(4) {
  width: 34px;
  height: 34px;
  top: 88.96%;
  left: 68.48%;
  opacity: 0.05;
}

.item:nth-child(5) {
  width: 34px;
  height: 34px;
  top: 88.96%;
  left: 22.28%;
  opacity: 0.05;
}

.item:nth-child(6) {
  width: 34px;
  height: 34px;
  top: 21.75%;
  left: 73.91%;
  opacity: 0.1;
}

.item:nth-child(7) {
  width: 34px;
  height: 34px;
  top: 21.75%;
  left: 16.85%;
  opacity: 0.1;
}

.item:nth-child(8) {
  width: 42px;
  height: 42px;
  top: 0%;
  left: 44.57%;
  opacity: 0.05;
}

.item:nth-child(9) {
  width: 42px;
  height: 42px;
  top: 59.74%;
  left: 72.28%;
  opacity: 0.1;
}

.item:nth-child(10) {
  width: 42px;
  height: 42px;
  top: 59.74%;
  left: 16.85%;
  opacity: 0.1;
}
