.wrapper {
  max-width: 400px;
  width: 100%;
  flex: 1;
  min-height: 100vh;
  padding: 114px 16px 38px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-container {
  margin-bottom: 16px;
  position: relative;
  width: fit-content;
  z-index: 10;
}

.title {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
  font-stretch: extra-expanded;
  color: #ffffff;
}

.title-container img {
  position: absolute;
  top: -16px;
  left: -4px;
  z-index: -1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
