.wrapper {
  min-height: 100vh;
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-container {
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
  color: #ffffff;
}
