.wrapper {
  min-height: 100vh;
  padding: 114px 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(180deg, #000000 0%, #212121 50%, #000000 90%);
}

.title-container {
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  line-height: 20px;
  font-weight: 800;
  color: #ffffff;
}
